/* 
---------------------------------------------
General Styles
---------------------------------------------
*/

.container {
	max-width: 1200px;
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	line-height: 1.5em;
	padding: 0;
}

.img-wrapper {
	position: relative;
}

.img-text-wrapper {
	position: absolute;
	display: flex;
}

/* 
---------------------------------------------
Typography
---------------------------------------------
*/

h1 {
	font-weight: 700;
	font-size: 26px;
	line-height: 1.33;
	margin-top: 0;
}

h2 {
	font-weight: 300;
	font-size: 26px;
	line-height: 1.33em;
}

h3 {
	font-weight: 300;
	font-size: 24px;
	line-height: 1.33;
}

small {
	font-weight: 300;
	font-size: 12px;
	text-decoration: underline;
}

/* 
---------------------------------------------
Links
---------------------------------------------
*/

a {
	color: #000;
}

a:hover {
	text-decoration: none;
	color: #000;
}

a.button {
	color: #fff;
	font-size: 21px;
	font-weight: 700;
	background-color: #000;
	padding: 0.5em 1.2em;
	border-radius: 3px;
}

a.button:hover {
	color: #000;
	background-color: transparent;
	border: 2px solid #000;
}

p.call-to-action {
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	font-weight: 700;
}

p.call-to-action--med {
	font-size: 21px;
	margin-top: 20px
}

p.call-to-action--lg {
	font-size: 21px;
	margin-bottom: 0;
}

/* 
---------------------------------------------
Bootstrap Overrides
---------------------------------------------
*/

.img-responsive {
	width: 100%;
	max-width: none;
}

.row {
 	display:  -webkit-box;
  	display:     -moz-box;
  	display: -webkit-flex;
  	display:  -ms-flexbox;
  	display:         flex;
  	flex-wrap: wrap;
  	margin-right: 0;
  	margin-left: 0;
}

.row::before, .row:after {
       display: none;
}

.row > [class*='col-'] {
  	display: flex;
  	flex-direction: column;
}

.row-no-padding > [class*="col-"] {
    padding-left: 0 !important;
    padding-right: 0 !important;
}


/* 
---------------------------------------------
Spend and Get Offer Section
---------------------------------------------
*/

.offers, .offers-mobile {
	background-image: url('../images/offers-bg.png');
	background-size: cover;
	background-repeat: no-repeat;
	text-align: center;
	font-size: 21px;
	font-weight: 400;
	color: #00325B;
	padding-top: 30px;
	padding-bottom: 20px;
}

.offers {
	display: none;
}

.offers-mobile {
	font-size: 16px;
	background-position: 10%;
}

.offer-details {
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	padding: 50px 0;
}

.mobile-offer-desc {
	padding: 20px 0 40px 0;
}

.mobile-offer--best {
	border-bottom: 2px solid #000;
}

.mobile-offer--least {
	border-left: 2px solid #000;
}

.offer {
	padding-left: 30px;
	padding-right: 30px;
}

.offer-value {
	font-size: 72px;
	line-height: 40px;
	font-weight: 700;
	margin-bottom: 0;
	color: #F44e4e;
}

.mobile-offer {
	padding: 50px 30px;
}

.mobile-offer--top {
	font-size: 21px;
	padding: 30px 0;
}

.mobile-offer--bottom .offer-value {
	font-size: 48px;
	line-height: 24px;
}

.offer-type {
	font-size: 30px;
	font-weight: 700;
}

.mobile-offer--bottom .offer-type {
	font-size: 21px;
}

.offer-req {
	margin: 0;
}

.offer-notes {
	display: flex;
	width: 100%;
	justify-content: center;
	margin-top: 20px;
}

.offer-notes-content {
	width: 200px;
	justify-content: space-around;
	display: flex;
}

.separator-circle {
	height: 30px;
	width: 30px;
	border-radius: 50%;
	border: 1px solid #000;
	display: flex;
	justify-content: center;
	align-items: center;
}

.separator-text {
	font-weight: 600;
	font-size: 12px;
	margin: 0;
}

/* 
---------------------------------------------
New Arrivals section, Home Products Section
---------------------------------------------
*/

.new-arrivals-section {
	background-color: #FF9966;
}

.home-products-section {
	background-color: #FFC1B2;
}

.new-arrivals-box, .home-products-box {
	margin: 10px;
	border: 2px solid #fff;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.new-arrivals, .home-products {
	width: 200px;
}

/* 
---------------------------------------------
Jewellers, Accessories and Shoes Section
---------------------------------------------
*/

.img-text-wrapper--jewellery {
	left: 55%;
	top: 20%;
}

.img-text-wrapper--jewellery > div {
	width: 200px;
	text-align: center;
}

.img-text-wrapper--bags {
	left: 55%;
	top: 12%;
}

.img-text-wrapper--watches {
	left: 10%;
	top: 50%;
}

.img-text-wrapper--shoes {
	left: 5%;
	top: 15%;
}

.img-text-wrapper--shoes > div {
	width: 300px;
}


/* 
---------------------------------------------
Media Queries
---------------------------------------------
*/

/* 
---------------------------------------------
Media Queries for mobile phones under 480px
---------------------------------------------
*/
@media (max-width: 480px) {
  .col-xss-12.col-xs-6 {
    width: 100% !important;
  }

  h1 {
  	font-size: 24px;
  }

  h2 {
  	font-size: 21px;
  }

  .mobile-offer--bottom .offer-value {
  	font-size: 42px;
  	line-height: 21px;
  }

  .mobile-offer--bottom .offer-type {
  	font-size: 18px;
  }

  .mobile-offer {
  	padding: 20px 10px;
  }

  .mobile-offer--bottom {
  	padding-top: 30px;
  }

  .mobile-offer--bottom {
  	padding-left: 30px;
  	padding-right: 20px;
  }

  .mobile-offer--least .mobile-offer--bottom {
  	padding-left: 20px;
  	padding-right: 30px;
  }

  .new-arrivals, .home-products {
  	width: 320px;
  	padding: 20px;
  }

  .offers-mobile h1 {
  	width: 90%;
  	margin-left: auto;
  	margin-right: auto;
  }

  .img-text-wrapper--jewellery > div {
  	width: 162px;
  }

  .img-text-wrapper--watches {
  	left: 5%;
  	top: 8%;
  }

  .img-text-wrapper--bags {
  	top: 8%;
  }

  .img-text-wrapper--shoes {
  	top: 5%;
  	left: 5%;
  }

  .img-text-wrapper--shoes > div {
  	width: 200px;
  }

  .img-text-wrapper--shoes .call-to-action--med {
  	width: 175px;
  }
}

/* 
---------------------------------------------
Media Queries for iPad
---------------------------------------------
*/

@media screen and (min-width: 768px) {
	.container {
	    width: 100%;
	}

	.new-arrivals {
		width: 200px;
	}

	.home-products {
		width: 255px;
	}

	h1,h2 {
		font-size: 24px;
	}

	h3 {
		font-size: 18px;
	}

	.container {
		font-size: 18px;
	}

	p.call-to-action {
		font-size: 14px;
	}

	p.call-to-action--med {
		font-size: 18px;
	}

	p.call-to-action--lg {
		font-size: 21px;
	}

	.offers-mobile {
		display: none;
	}

	.offers {
		display: block;
		font-size: 16px;
	}

	.offer {
		padding-left: 20px;
		padding-right: 20px;
	}

	.offer-details {
		padding: 30px 0;
	}

	.offer-value {
		font-size: 48px;
		line-height: 24px;
	}

	.offer-type {
		font-size: 21px;
	}

	.offer-notes-content {
		width: 175px;
	}

	.separator-circle {
		height: 25px;
		width: 25px;
	}

	.separator-text {
		font-size: 10px;
	}

	a.button {
		font-size: 18px;
	}

	.img-text-wrapper--watches {
		left: 6%;
		top: 40%;
	}

	.img-text-wrapper--bags {
		left: 58%;
		top: 5%;
	}

	.img-text-wrapper--shoes {
		top: 25%;
		left: 10%;
	}

	.img-text-wrapper--shoes > div {
		width: 250px;
	}
}

/* 
---------------------------------------------------------
Media Queries for iPad Pro and lower resolution Desktops
---------------------------------------------------------
*/

@media screen and (min-width: 992px) {
	.container {
	    width: 100%;
	}

	.new-arrivals, .home-products {
		width: 300px;
	}

	h1,h2 {
		font-size: 32px;
	}

	h3 {
		font-size: 24px;
	}

	.container {
		font-size: 21px;
	}

	p.call-to-action {
		font-size: 18px;
	}

	p.call-to-action--med {
		font-size: 21px;
	}

	p.call-to-action--lg {
		font-size: 24px;
		margin-top: 30px;
	}

	.img-text-wrapper--jewellery {
		left: 60%;
	}

	.img-text-wrapper--shoes {
		top: 15%;
	}

	.img-text-wrapper--shoes > div {
		width: 225px;
	}

	.img-text-wrapper--bags {
		left: 55%;
	}

	.img-text-wrapper--watches {
		top: 45%;
	}

	.offers {
		font-size: 18px;
	}

	.offer {
		padding-left: 25px;
		padding-right: 25px;
	}

	.offer-details {
		padding: 40px 0;
	}

	.offer-value {
		font-size: 64px;
		line-height: 32px;
	}

	.offer-type {
		font-size: 24px;
	}

	.offer-notes-content {
		width: 200px;
	}

	.separator-circle {
		height: 30px;
		width: 30px;
	}

	.separator-text {
		font-size: 12px;
	}

	a.button {
		font-size: 21px;
	}
}

/* 
---------------------------------------------------------
Media Queries for Desktops
---------------------------------------------------------
*/
@media screen and (min-width: 1200px) {
	.container {
	    width: 100%;
	}

	.new-arrivals-box, .home-products-box {
		margin: 20px;
	}

	.home-products {
		width: 400px;
	}

	h1,h2 {
		font-size: 36px;
	}

	h1 {
		margin-bottom: 15px;
	}

	h3 {
		font-size: 30px;
	}

	.container {
		font-size: 24px;
	}

	p.call-to-action {
		font-size: 24px;
	}

	p.call-to-action--med {
		font-size: 24px;
	}

	p.call-to-action--lg {
		font-size: 28px;
	}

	.img-text-wrapper--jewellery > div {
		width: 250px;
	}

	.img-text-wrapper--shoes > div {
		width: 250px;
	}

	.offers {
		font-size: 21px;
	}

	.offer {
		padding-left: 30px;
		padding-right: 30px;
	}

	.offer-details {
		padding: 50px 0;
	}

	.offer-value {
		font-size: 72px;
		line-height: 40px;
	}

	.offer-type {
		font-size: 30px;
	}

	.separator-circle {
		height: 30px;
		width: 30px;
	}

	.separator-text {
		font-size: 12px;
	}

	a.button {
		font-size: 24px;
	}
}

